[Desktop Entry]
ServiceTypes=media/audiocd
Actions=Play;
X-KDE-Priority=TopLevel

[Desktop Action Play]
Name=Play
Name[bg]=Старт
Name[bn]=চালাও
Name[br]=Seniñ
Name[bs]=Sviraj
Name[ca]=Reproducció
Name[cs]=Přehrát
Name[cy]=Chwarae
Name[da]=Spil
Name[de]=Abspielen
Name[el]=Αναπαραγωγή
Name[eo]=Ludi
Name[et]=Esitus
Name[fa]=پخش
Name[fi]=Soita
Name[fr]=Lecture
Name[ga]=Seinn
Name[gl]=Reproducir
Name[he]=נגן
Name[hu]=Lejátszás
Name[is]=Spila
Name[it]=Riproduci
Name[kk]=Ойнату
Name[km]=ចាក់
Name[ko]=재생
Name[lt]=Groti
Name[mk]=Пушти
Name[nb]=Spill
Name[nds]=Afspelen
Name[ne]=प्ले
Name[nl]=Afspelen
Name[nn]=Spel
Name[pa]=ਵਜਾਓ
Name[pl]=Odtwarzaj
Name[pt]=Tocar
Name[pt_BR]=DjPlay 
Name[ru]=Воспроизведение
Name[sl]=Predvajaj
Name[sv]=Spela
Name[ta]=தொடங்கு
Name[th]=เล่น
Name[tr]=Çal
Name[uk]=Пуск
Name[wa]=Djouwer
Name[zh_CN]=播放
Name[zh_HK]=播放
Name[zh_TW]=播放
Exec=kscd -s -caption "%c" %i %m %u
Icon=kscd
