[Desktop Entry]
ServiceTypes=media/audiocd
Actions=Play;
X-KDE-Priority=TopLevel

[Desktop Action Play]
Name=Play
Name[bg]=Старт
Name[br]=Seniñ
Name[ca]=Reproducció
Name[cs]=Přehrát
Name[cy]=Chwarae
Name[da]=Spil
Name[et]=Esitus
Name[fr]=Lecture
Name[ga]=Seinn
Name[hu]=Lejátszás
Name[is]=Spila
Name[nl]=Afspelen
Name[nn]=Spel
Name[pl]=Odtwarzaj
Name[pt]=Tocar
Name[pt_BR]=Tocar
Name[ru]=Воспроизведение
Name[sv]=Spela
Name[ta]=தொடங்கு
Name[uk]=Пуск
Name[xx]=xxPlayxx
Name[zh_CN]=播放
Exec=kscd -s -caption "%c" %i %m %u

