[Desktop Entry]
GenericName=CD Player
Name=KsCD
Exec=kscd -caption %c %i
Icon=kscd
Type=Application
Terminal=false
X-KDE-StartupNotify=true
X-DBUS-StartupType=Unique
Categories=Qt;KDE;AudioVideo;Player;
