[Desktop Entry]
X-KDE-Solid-Predicate=[ StorageVolume.ignored == false AND OpticalDisc.availableContent == 'Audio' ]
Type=Service
Actions=open;

[Desktop Action open]
Exec=kscd -s
Icon=kscd
Name=Play Audio CD with KsCD
Name[el]=Αναπαραγωγή CD ήχου με το KsCD
Name[et]=Audio-CD esitamine KsCD-ga
Name[ga]=Seinn Dlúthdhiosca Fuaime le KsCD
Name[nds]=Klang-CD mit KsCD afspelen
Name[pt]=Tocar o CD de Áudio com o KsCD
Name[pt_BR]=Reproduzir CD de áudio com o KsCD
Name[ru]=Воспроизвести с помощью KsCD
Name[sv]=Spela ljud-cd med Kscd
Name[tr]=Ses CD'sini KsCD ile Çal
Name[uk]=Відтворити звуковий КД за допомогою KsCD
Name[x-test]=xxPlay Audio CD with KsCDxx
Name[zh_CN]=用 KsCD 播放音频 CD
Name[zh_TW]=用 KsCD 播放音樂光碟
