[Desktop Entry]
GenericName=CD Player
GenericName[af]=Cd Speler
GenericName[ar]=مشغل الأقراص المدمجة
GenericName[bg]=Плеър за компактдискове
GenericName[bn]=সিডি প্লেয়ার
GenericName[br]=Ur c'hoarier CD
GenericName[ca]=Reproductor de CD
GenericName[cs]=CD přehrávač
GenericName[cy]=Chwaraewr CD
GenericName[da]=Cd-afspiller
GenericName[de]=CD-Wiedergabe
GenericName[el]=Αναπαραγωγέας CD
GenericName[en_GB]=CD Player
GenericName[eo]=KD-ludilo
GenericName[es]=Reproductor de CD
GenericName[et]=CD mängija
GenericName[eu]=CD erreproduzitzailea
GenericName[fa]=پخش‌کنندۀ دیسک فشرده
GenericName[fi]=CD-soitin
GenericName[fr]=Lecteur de CD audio
GenericName[ga]=Seinnteoir Dlúthdhioscaí
GenericName[gl]=Reprodutor de CD
GenericName[he]=נגן תקליטורים
GenericName[hi]=सीडी प्लेयर
GenericName[hne]=सीडी प्लेयर
GenericName[hr]=CD Player
GenericName[hu]=CD-lejátszó
GenericName[is]=CD spilari
GenericName[it]=Lettore CD
GenericName[ja]=CD プレーヤー
GenericName[kk]=CD ойнатқышы
GenericName[km]=កម្មវិធី​ចាក់​ស៊ីឌី
GenericName[ko]=CD 재생기
GenericName[ku]=Lêdarê CDyê
GenericName[lt]=CD grotuvas
GenericName[lv]=CD atskaņotājs
GenericName[mai]=CD प्लेयर
GenericName[mk]=CD плеер
GenericName[ms]=Pemain CD
GenericName[nb]=CD-spiller
GenericName[nds]=CD-Afspeler
GenericName[ne]=सीडी प्लेयर
GenericName[nl]=CD-speler
GenericName[nn]=CD-spelar
GenericName[oc]=Legidor de CD
GenericName[pa]=CD ਪਲੇਅਰ
GenericName[pl]=Odtwarzacz CD
GenericName[pt]=Leitor de CDs
GenericName[pt_BR]=Reprodutor de CDs
GenericName[ro]=Redare CD audio
GenericName[ru]=Проигрыватель аудиодисков
GenericName[se]=CD-čuojaheaddji
GenericName[sk]=Prehrávač CD 
GenericName[sl]=Predvajalnik CD-jev
GenericName[sr]=ЦД плејер
GenericName[sr@latin]=CD plejer
GenericName[sv]=Cd-spelare
GenericName[ta]=குறுந்தகடு இயக்கி
GenericName[tg]=Бозингари Диски Фишурда
GenericName[th]=โปรแกรมเล่นซีดี
GenericName[tr]=CD Çalar
GenericName[uk]=Програвач КД
GenericName[uz]=Kompakt-disk pleyer
GenericName[uz@cyrillic]=Компакт-диск плейер
GenericName[wa]=Djoweu di plakes lazer
GenericName[xh]=Umdlali We CD
GenericName[x-test]=xxCD Playerxx
GenericName[zh_CN]=CD 播放器
GenericName[zh_HK]=CD 播放器
GenericName[zh_TW]=CD 播放器
Name=KsCD
Name[af]=Kscd
Name[ar]=KsCD
Name[be]=KsCD
Name[bg]=KsCD
Name[bn]=কে-এস-সিডি
Name[br]=KsCD
Name[ca]=KsCD
Name[cs]=KsCD
Name[cy]=KsCD
Name[da]=KsCD
Name[de]=KsCD
Name[el]=KsCD
Name[en_GB]=KsCD
Name[eo]=KsCD
Name[es]=KsCD
Name[et]=KsCD
Name[eu]=KsCD
Name[fi]=KsCD
Name[fr]=KsCD
Name[ga]=KsCD
Name[gl]=KsCD
Name[he]=KsCD
Name[hi]==के-एससीडी
Name[hne]==के-एससीडी
Name[hr]=KsCD
Name[hu]=KsCD
Name[is]=KsCD
Name[it]=KsCD
Name[ja]=KsCD
Name[kk]=KsCD
Name[km]=KsCD
Name[ko]=KsCD
Name[ku]=KsCD
Name[lt]=KsCD
Name[lv]=KsCD
Name[mk]=KsCD
Name[ms]=KsCD
Name[nb]=KsCD
Name[nds]=KsCD
Name[ne]=KsCD
Name[nl]=KsCD
Name[nn]=KsCD
Name[pa]=KsCD
Name[pl]=KsCD
Name[pt]=KsCD
Name[pt_BR]=KsCD
Name[ro]=KsCD
Name[ru]=KsCD
Name[se]=KsCD
Name[sk]=KsCD
Name[sl]=KsCD
Name[sr]=КсЦД
Name[sr@latin]=KsCD
Name[sv]=Kscd
Name[ta]=Ksகுறுந்தகடு
Name[tg]=KsДиски Фишурда
Name[th]=KsCD
Name[tr]=KsCD
Name[uk]=KsCD
Name[uz]=KsCD
Name[uz@cyrillic]=KsCD
Name[wa]=KsCD
Name[xh]=KsCD
Name[x-test]=xxKsCDxx
Name[zh_CN]=KsCD
Name[zh_HK]=KsCD
Name[zh_TW]=KsCD 播放器
Exec=kscd -caption "%c" %i
X-DocPath=kscd/index.html
Icon=kscd
Type=Application
Terminal=false
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;AudioVideo;Player;
