[Desktop Entry]
Encoding=UTF-8
GenericName=CD Player
GenericName[el]=Αναπαραγωγέας CD
GenericName[fr]=Lecteur de CD audio
GenericName[x-test]=xxCD Playerxx
Name=KsCD
Name[x-test]=xxKsCDxx
Exec=kscd -caption "%c" %i
DocPath=kscd/index.html
Icon=kscd
Path=
Type=Application
Terminal=false
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;AudioVideo;
