[Desktop Entry]
Encoding=UTF-8
Comment=CD Database File
Comment[af]=Cd Databasis Lêer
Comment[ar]=ملف قاعدة بيانات موسيقية
Comment[az]=CD Databeyzi Faylı
Comment[bg]=CD файл с базата данни 
Comment[br]=Restr stlennvon CD
Comment[bs]=CD baza podataka
Comment[ca]=Fitxer de base de dades de CD
Comment[cs]=Soubor CD databáze
Comment[da]=CD-databasefil
Comment[de]=CD-Datenbank-Datei
Comment[el]=Αρχείο Βάσης Δεδομένων CD
Comment[eo]=Lumdiskdatumbazo-dosiero
Comment[es]=Base de datos de CDs
Comment[et]=CD andmebaasi fail
Comment[eu]=CD Datubase Fitxategia
Comment[fi]=CD Tietokantatiedosto
Comment[fr]=Banque de données pour CD
Comment[gl]=Ficheiro de base de datos de CD
Comment[he]=קובץ מסד נתוני תקליטור
Comment[hr]=CD baza datoteka
Comment[hu]=CD-adatbázis fájl
Comment[id]=File Database CD
Comment[is]=CD gagnasafnsskrá
Comment[it]=File di database CD
Comment[ja]=CDデータベースファイル
Comment[ko]=CD 자료틀 파일
Comment[lt]=CD duomenų bazės Byla
Comment[lv]=CD Datubāzes Fails
Comment[mi]=Könae Putunga Körero CD
Comment[mk]=CD база
Comment[mt]=Fajl Database tas-CDs
Comment[nb]=CD-databasefil
Comment[nl]=Bestand met CD-database
Comment[nn]=CD-databasefil
Comment[oc]=FiquièR de base de datas de CD
Comment[pl]=Baza danych CD
Comment[pt]=Ficheiro de dados de CDs
Comment[pt_BR]=Arquivo de Dados de CDs
Comment[ro]=Fişier bază de date CD
Comment[ru]=Файл базы данных CD
Comment[sk]=Databázový súbor CD
Comment[sl]=Zbirka podatkov o CD
Comment[sr]=CD Database fajl
Comment[sv]=Cd-databasfil
Comment[ta]=º¢Ê ¾Ã×ò¾Çì §¸¡ôÒ
Comment[th]=แฟ้มฐานข้อมูลซีดี
Comment[tr]=CD Veritabanı Dosyası
Comment[uk]=Файл бази даних CD
Comment[ven]=CD ya databeizi ya faela 
Comment[vi]=Tập tin cơ sở dữ liệu của CD
Comment[xh]=Ifayile yesiseko sedata ye CD
Comment[xx]=xx
Comment[zh_CN]=CD 数据库文件
Comment[zh_TW]=CD 資料庫檔案
Comment[zu]=Ifayela yesiseko sedata ye CD
DefaultApp=kedit
Icon=cdtrack
Type=MimeType
MimeType=text/xmcd
Patterns=

